@use "scss/variables";
@use "scss/colors";

.container {
  display: flex;
  align-items: center;
}

.checkboxField {
  display: flex;
  align-items: baseline;
  padding: 0 variables.$spacing-lg;

  .label {
    color: colors.$grey;
    padding-left: variables.$spacing-sm;
  }
}